extends layouts/main

block content
    .form-container
        form(action=router.join, method="post")
            input(type="email", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="password")
            input(type="password", name="password2", placeholder="Re-password")
            label
                input(type="radio", name="sex", value="남성")
                span 남성
            label
                input(type="radio", name="sex", value="여성")
                span 여성
            input(type="number", min="0", max="120", name="age", placeholder="나이")
            input(type="number", min="50", max="250", name="height", placeholder="키 (단위 : cm)")
            input(type="number", min="10", max="500", name="weight", placeholder="몸무게 (단위 : kg)")
            input(type="submit", value="확인")
        
        include ./partials/socialLogin
            