extends layouts/main

block content
    .form-container
        form(action=router.login, method="post")
            input(type="email", name="email", placeholder="Email")
            input(type="password", name="password", placeholder="password")
            input(type="submit", value="확인")

        include ./partials/socialLogin