header.header
    .header__column
        i.fas.fa-book-medical
    .header__column
        ul
            li
                a(href=router.join) 회원가입
            li
                a(href=router.login) 로그인
