<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.daily_function"
    android:installLocation="auto">

    <!-- CameraX libraries require minSdkVersion 21, while this quickstart app
supports low to 16. Needs to use overrideLibrary to make the merger tool
ignore this conflict and import the libraries while keeping the app's lower
minSdkVersion value. In code, will check SDK version, before calling CameraX
APIs. -->
    <uses-sdk
        tools:overrideLibrary="
          androidx.camera.camera2, androidx.camera.core,
          androidx.camera.view, androidx.camera.lifecycle" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- 옵션:  앱이 설치된 후 기기에 ML 모델을 자동으로 다운로드하려면 추가-->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica"/>

        <activity android:name=".foodSelectDessert"></activity>
        <activity android:name=".foodSelectLaunch" />
        <activity android:name=".foodSelectDinner" />
        <activity android:name=".DinnerSearch"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LaunchSearch"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".DessertSearch"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Board" />

        <activity android:name=".AiExercise"
            android:exported="true"/>

        <activity android:name=".DiseaseInfo" />
        <activity android:name=".AiRecomand" />
        <activity android:name=".DetailPedometer" />
        <activity android:name=".FoodInput" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileChangeActivity" />
        <activity android:name=".ProfileInfoActivity" />
        <activity android:name=".FindPassActivity" />
        <activity
            android:name=".Search"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".DetailFoodInfo" />
        <activity android:name=".foodSelect" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".StepCheckServices"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="app.manbo.Service" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="false"
            android:label="STARTReceiver">
            <intent-filter>
                <action android:name="app.manbo.Service" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.daily_function.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".ChooserActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".LivePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".CameraXLivePreviewActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".StillImageActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
        </activity>


        <activity
            android:name=".preference.SettingsActivity"
            android:exported="false">
        </activity>

        <activity android:name=".BoardInsertActivity"/>
        <activity android:name=".BoardDetailActivity"/>
        <activity android:name=".Board_noticeActivity"/>
        <activity android:name=".Board_mytitleActivity"/>
        <activity android:name=".Board_popularActivity"/>
        <activity android:name=".Board_totalActivity"/>
        <activity android:name=".AiFoodCameraActivity"/>


    </application>

</manifest>